:root {
  --body-bg: #e5e5e5;
  --main-bg: #f6f6f6;
  --border-color: #e0e0e0;
  --panel-header-height: 50px;
}

body {
  background-color: var(--body-bg);
}

.main {
  @apply xl:max-w-7xl;
  @apply h-screen;
  @apply mx-auto;
  @apply bg-main-bg;
  @apply flex;
}

.left-panel {
  width: 100%;
  @apply relative;
}

.left-panel.is-hidden {
  display: none;
}

@screen md {
  .left-panel {
    width: 380px;
  }

  .left-panel.is-hidden {
    display: block;
  }
}

.panel-header {
  height: var(--panel-header-height);
  @apply fixed;
  @apply w-full;
  @apply bg-white;
}

.panel-content {
  padding-top: var(--panel-header-height);
  @apply bg-white;
}

@screen md {
  .panel-header {
    @apply relative;
  }
  .panel-content {
    height: calc(100% - var(--panel-header-height));
    @apply overflow-y-auto;
    @apply pt-0;
  }
}

.input,
.textarea {
  @apply border;
  @apply border-border;
  @apply rounded;
  @apply px-3;
  @apply h-12;
  @apply transition;
  @apply inline-flex;
  @apply focus:outline-none;
  @apply focus:ring-1;
  @apply focus:ring-blue-500;
  @apply focus:border-blue-500;
}

.textarea {
  @apply h-auto;
  @apply py-3;
  @apply resize-none;
}

.button {
  @apply bg-blue-500;
  @apply text-white;
  @apply rounded-md;
  @apply px-3;
  @apply h-10;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply border;
  @apply border-blue-500;

  @apply focus:ring-2;
  @apply focus:ring-blue-200;
  @apply focus:outline-none;
}

.button:disabled {
  @apply opacity-75;
  @apply cursor-default;
}

.button.is-small {
  @apply h-8;
  @apply text-xs;
  @apply px-3;
}

.button.is-secondary {
  @apply border-gray-300;
  @apply bg-gray-50;
  @apply text-gray-700;
  @apply focus:ring-gray-400;
}

.select-node__control {
  @apply rounded-md !important;
  @apply h-12 !important;
  @apply border-border !important;
}
